<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <h1>From a dynamic about file</h1>
    <a>THis ia about is: {{description}}</a>
    <a>TEmperature is: {{temperature}}</a>
  </body>
</html>
